<div id="post-list-container">
  <% for(i of post){%>

  <div class="post-container" id="post-<%= i._id%>">
        <div class="post-navbar">
            <div class="author-img">
                  <img src="<%=i.user.avatar%>" onerror="this.onerror=null; this.src='/img/default.png'" alt="" width="60px">
            </div>      
            <div class="author-name-date">
                 <span class="author-name"><%= i.user.name%></span>
                 <span class="action-date"> <%= moment( i.createdAt).format("YYYY-MM-DD  HH:mm");%></span>
            </div>   
             <% if(locals.user && locals.user.id==i.user.id){%>
             <div class="delete-opt">
                   <a class="deletePost-bttn" href="/posts/destroy/<%= i._id%>">X</a>
              </div>      
              <%}%>
        </div> 
      <div class="post-content"> 
          <%= i.content%>
      </div>
      <div class="post-options">
        <% if(locals.user){%>
          <a href="/like/toggle/?id=<%= i._id%>&type=post" class="like-bttn" data-likes="<%= i.likes.length %>"><i class="fa fa-thumbs-up lightgrey"></i><%= i.likes.length%> likes</a>
          <form action="/comment/create-comment" method="POST" class="comment-form">
            <input type="text" placeholder="Add Comment" name="content">
            <input type="hidden" name="postId" value="<%= i._id%>">
            <button type="submit">Add Comment</button>
          </form>
          <%}else{%>
            <%= i.likes.length %> likes
            <%}%>
      </div>    
        <%- include('comment')-%>
    </div>
    <%}%>
</div> 