
<link rel="stylesheet" href="/css/user_profile.css">  
  <%if(profile_user.id==user.id){%>
    <img src="<%= profile_user.avatar%>" alt="<%= profile_user.name%>" width="100px">
       <h1>Do you Wanna update Your Profile</h1>
         <form action="/users/update/<%= profile_user.id%>" enctype="multipart/form-data"  method="POST">
           <input type="text" name="name" value="<%= profile_user.name%>" required>
           <input type="email" name="email" value="<%= profile_user.email%>" required>
           <input type="file" name="avatar">
           <button type="submit">Update</button>
        </form> 
    <%}else {%>
        <h1>profile of <%=profile_user.name %></h1>
        <h1><%= profile_user.email%></h1>
        <a class="request-bttn" href="/friend/add/<%=profile_user.id%>">Add</a> 
   <%}%>
 <script src="/js/friend_request.js"></script>


